<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <!--
            Pattern checks the user input against a regular expression
            
            In this case, we are checking that the number introduced into
            the Amount field should not be a 0 or a negative number
          -->
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            ngModel
            required
            [pattern]="'^[1-9]+[0-9]*$'">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit" 
            [disabled]="!f.valid"> {{ editmode ? 'Update' : 'Add'}} </button>
          <button 
            class="btn btn-danger" 
            type="button" 
            (click)="onDelete()" 
            *ngIf="editmode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
